ALLOWED_ORIGINS=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_USERNAME=
EMAIL_PASSWORD=
EMAIL_USERNAME=
EXPO_PUBLIC_BACKEND_API=
JWT_SECRET=
PGCHANNELBINDING=
PGSSLMODE=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=